#@license
# Copyright 2021-2022 Progressive Casualty Insurance Company. All Rights Reserved.
#
# Use of this source code is governed by an MIT license that can be found in
# the LICENSE file at https://github.com/progressive-insurance/oculr-ngx/blob/main/LICENSE.md

name: ci publish

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3

      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - name: Build and test
        run: |
          npm ci
          npm run clean
          npm run build
          npm run test

      - name: Publish
        run: npm publish ./dist/oculr-ngx
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
